@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F5F2; /* Linen White / Cream */
  color: #3E3E3E; /* Charcoal / Graphite */
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
